@charset "utf-8";
/* CSS Document */

div#principal{
	/*border:#F00 solid 1px;*/
	margin:auto;
	margin-top:100px;
	width:600px;
}

#tab_comprovante td{
	padding: 5px;	
}

#tab_comprovante .col-1 {
	text-align:right;	
	vertical-align:top;
}

.span_obg {
	color:#F00;	
}

span{
	color:#F00;
}

#enviar{
	cursor:pointer; 
	text-transform:capitalize;	
	padding:1px 10px 1px 10px;
	margin-top:15px;
	margin-left:20px;	
}