@charset "utf-8";
/* CSS Document */

input {
	border-radius: 2px;
	box-shadow: 0 2px 5px #eb2323;
}
select {
	border:solid 1px #999;
	box-shadow: 0 2px 5px #eb2323;
}

#submit{
	padding: 5px 10px;	
	background: -webkit-linear-gradient(bottom, #EC5959 #F9F9F9 70%);
	background: -moz-linear-gradient(bottom, #EC5959, #F9F9F9 70%);
	background: -o-linear-gradient(bottom, #EC5959, #F9F9F9 70%);
	background: -ms-linear-gradient(bottom, #EC5959, #F9F9F9 70%);
	background: linear-gradient(bottom, #EC5959, #F9F9F9 70%);
	box-shadow: 0 3px 0 rgba(0, 0, 0, .3), 0 2px 7px rgba(0, 0, 0, 0.2);	
	border: 1px solid #CCCCCE;
}

#tab_ficha td{
	padding: 10px;
}

#tab_anexo1 td{
	padding: 5px;
	vertical-align:middle;
}



