@charset "utf-8";
/* CSS Document */

/* Tela de Login */

body{
	font-family: Times, serif;
	text-shadow:1px 1px 5px #666;
}
input{
	font-family: Times, serif;
	height: 20px;
	font-weight:bold;
	padding-left:5px;	
}
select {
	font-family: Times, serif;
	padding: 3px;
	font-weight:bold;	
}

.bot_submit{
	cursor:pointer;
	height:25px;
}

#div_erro {
	position:relative;
	margin:auto;
	text-align:center;
	width: 300px;
	height: 25px;
	margin-top: 130px;
	color: red;
	font-weight:bold;
	text-shadow:0 3px 0 rgba(0, 0, 0, .3);
}

#div_login {
	position:relative;
	margin:auto;
	text-align:center;
	width: 300px;
	height: 180px;
	background-image:  url(../imagens/login.png);
	background-repeat: no-repeat;
	background-size: 300px 180px;	
	border:solid 1px #F00;
	border-radius: 3px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, .3), 0 2px 7px #eb2323;
}

#tab_login{
	font-weight:bold;
	position:relative;
	margin-left: 70px;
	margin-top: 50px;
}



/* --------- Pagina do Usuario logado --------------- */

.td_esq{
	text-align:right;
}
.td_dir{
	text-align:left;
}

.div_padrao{
	margin:auto;
	text-align:center;
	margin-top: 10px;
	padding: 3px;
	padding-left: 20px;
	min-height: 100px;
	background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	border: 1px solid #CCCCCE;
	border-radius: 3px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, .3), 0 2px 7px #eb2323;
	margin-bottom: 15px;	
}

#div_usuario{
	height:110px;	
}

#div_tab_usuario{
	position:absolute;
	margin-left: 50px;
}

#tab_usuario td{
	padding: 0px 5px;
}

#div_tab_botoes{
	position:relative;
	float:right;
}

#tab_botoes{
	/*margin: 5px 0px 0px 65%; */
	width: 500px;
}

#tab_botoes td{
	padding: 15px 10px;
}

#div_contador{
	font-weight:bold;
}

#tab_botoes a{
	text-decoration:none;
	font-weight:bold;
	color:#eb2323;
	cursor:pointer;
}


#tab_castro_usuario .td_esq {
	font-weight:bold;
	padding-right:10px;
}

#tab_castro_usuario td {
	padding:10px;
}



#div_buscar{
	display:none;	
}
#tab_buscar {
	padding-top:10px;
}
#tab_buscar .td_esq {
	font-weight:bold;
	padding-right:10px;
}
#tab_buscar h2 {
	padding: 0px 50px;
}
#tab_buscar #botao {
	padding: 0px 30px;
}

#div_listar{
	
}




#div_menu {
	background: -webkit-linear-gradient(bottom, #E0E0E0, #eb2323 70%);
	background: -moz-linear-gradient(bottom, #E0E0E0, #eb2323 70%);
	background: -o-linear-gradient(bottom, #E0E0E0, #eb2323 70%);
	background: -ms-linear-gradient(bottom, #E0E0E0, #eb2323 70%);
	background: linear-gradient(bottom, #E0E0E0, #eb2323 70%);
	border: 1px solid #CCCCCE;
	border-radius: 3px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, .3), 0 2px 7px rgba(0, 0, 0, 0.2);
}

#tab_menu {
	padding: 5px;	
	
}

#tab_menu td {
	padding: 5px;	
	font-weight:bold;
	background: -webkit-linear-gradient(bottom, #eb2323, #F9F9F9 70%);
	background: -moz-linear-gradient(bottom, #eb2323, #F9F9F9 70%);
	background: -o-linear-gradient(bottom, #eb2323, #F9F9F9 70%);
	background: -ms-linear-gradient(bottom, #eb2323, #F9F9F9 70%);
	background: linear-gradient(bottom, #eb2323, #F9F9F9 70%);
	border: 1px solid #CCCCCE;
	border-radius: 3px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, .3), 0 2px 7px rgba(0, 0, 0, 0.2);
	cursor:pointer; 
}





/* --------- Div Principal onde carrega os formularios --------------- */


#div_principal {
	font-weight:bold;
	padding-bottom:10px;
	margin-bottom: 20px;
	
}

#div_principal .bot_submit{
	height:40px;
	width: 70px;
}

#div_erro_validacao {
	margin:auto;
	text-align:center;
	color: red;
	font-weight:bold;
	text-shadow:0 3px 0 rgba(0, 0, 0, .3);
	
}

