@charset "utf-8";
/* CSS Document */

/* Tela de Login */

#div_erro {
	position:relative;
	margin:auto;
	text-align:center;
	width: 300px;
	height: 25px;
	margin-top: 130px;
	color: red;
	font-weight:bold;
	text-shadow:0 3px 0 rgba(0, 0, 0, .3);
}

#div_login {
	position:relative;
	margin:auto;
	text-align:center;
	width: 300px;
	height: 180px;
	background-image:  url(../imagens/login.png);
	background-repeat: no-repeat;
	background-size: 300px 180px;	
	border:solid 1px #F00;
	border-radius: 3px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, .3), 0 2px 7px #eb2323;
}

#tab_login{
	font-weight:bold;
	position:relative;
	margin-left: 70px;
	margin-top: 50px;
}



/* Pagina do Usuario logado */


#div_menu {
	background: -webkit-linear-gradient(bottom, #E0E0E0, #eb2323 70%);
	background: -moz-linear-gradient(bottom, #E0E0E0, #eb2323 70%);
	background: -o-linear-gradient(bottom, #E0E0E0, #eb2323 70%);
	background: -ms-linear-gradient(bottom, #E0E0E0, #eb2323 70%);
	background: linear-gradient(bottom, #E0E0E0, #eb2323 70%);
	border: 1px solid #CCCCCE;
	border-radius: 3px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, .3), 0 2px 7px rgba(0, 0, 0, 0.2);
}

#tab_menu {
	padding: 5px;	
	
}

#tab_menu td {
	padding: 5px;	
	font-weight:bold;
	background: -webkit-linear-gradient(bottom, #eb2323, #F9F9F9 70%);
	background: -moz-linear-gradient(bottom, #eb2323, #F9F9F9 70%);
	background: -o-linear-gradient(bottom, #eb2323, #F9F9F9 70%);
	background: -ms-linear-gradient(bottom, #eb2323, #F9F9F9 70%);
	background: linear-gradient(bottom, #eb2323, #F9F9F9 70%);
	border: 1px solid #CCCCCE;
	border-radius: 3px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, .3), 0 2px 7px rgba(0, 0, 0, 0.2);
	cursor:pointer; 
}








#div_principal {
	margin:auto;
	text-align:center;
	width: 80%px;
	margin-top: 20px;
	padding: 3px;
	padding-top: 10px;
	min-height: 300px;
	background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
	border: 1px solid #CCCCCE;
	border-radius: 3px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, .3), 0 2px 7px #eb2323;
	margin-bottom: 20px;
}


