@charset "utf-8";
/* CSS Document */

/* Tela de Login */

body{
	font-family: Times, serif;
	text-shadow:1px 1px 5px #666;
}
input{
	font-family: Times, serif;
	height: 20px;
	font-weight:bold;	
}
select {
	font-family: Times, serif;
	padding: 3px;
	font-weight:bold;	
}

#div_erro {
	position:relative;
	margin:auto;
	text-align:center;
	width: 300px;
	height: 20px;
	margin-top: 130px;
	color: red;
	font-weight:bold;
	text-shadow:0 3px 0 rgba(0, 0, 0, .3);
}

#div_login {
	position:relative;
	margin:auto;
	text-align:center;
	width: 300px;
	height: 180px;
	background-image:  url(../img/login.png);
	background-repeat: no-repeat;
	background-size: 300px 180px;	
	border:solid 1px #090;
	border-radius: 3px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, .3), 0 2px 7px #bff823;
}

#tab_login{
	font-weight:bold;
	position:relative;
	margin-left: 70px;
	margin-top: 50px;
}

